<!-- <p>{{clientName}}</p>
<p>{{totalBytes}}</p>
<p>{{unitList[0].Location}}</p>
<p>{{unitList[0]['As of date']}}</p> -->

<h1>Welcome, {{ clientName }}</h1>

<div *ngIf="unitList.length > 0">
    <rroll-rent-roll-bar-chart [chartData]="chartData" [chartLabels]="chartLabels"></rroll-rent-roll-bar-chart>

</div>

<div>
    <h2>Upload file</h2>
    <input type="file" id="fileInput" />
    <button (click)="uploadDocument()">Upload</button>
</div>

<!-- <div *ngIf="unitList.length > 0">
    <h2>Rent Roll Data Fetch</h2>
    <h3>Location: {{unitList[0].Location}}</h3>
    <h3>As of date: {{unitList[0]['As of date']}}</h3>
    <div *ngFor="let tenant of unitList[1].Tenants">
            <strong>Unit:</strong> {{ tenant.Unit }}<br>
            <strong>Unit Type:</strong> {{ tenant['Unit Type'] }}<br>
            <strong>Status:</strong> {{ tenant.Status }}<br>
            <strong>Name:</strong> {{ tenant.Name }}<br>
            <strong>Market Rent:</strong> ${{ tenant['Market Rent'] }}<br>
            <hr>
    </div>
</div> -->

<div *ngIf="unitList.length === 0">
    <p>Loading data...</p>
</div>