<p>{{message}}</p>
<h2>{{building}}</h2>
<h3>As of: {{asOfDate}}</h3>
<button mat-flat-button (click)="navigateToProfile()">Back</button>

<mat-tab-group (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Market Rent"></mat-tab>
    <mat-tab label="Vacancy"></mat-tab>
</mat-tab-group>

<rroll-market-rent-move-in [ngStyle]="{ display: activeGraph === 'marketRentxMoveIn' ? 'block' : 'none' }"></rroll-market-rent-move-in>

<rroll-vacancy [ngStyle]="{ display: activeGraph === 'vacancy' ? 'block' : 'none' }"></rroll-vacancy>
